.container {
  width: 100%;
}

.input-wrap {
  font-weight: bold;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

input {
  display: block;
  padding: 0.5rem;
  width: 50%;
}

.registration-btn {
  padding: 1rem 1rem;
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  border: transparent;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.registration-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.winner__label,
.title__label,
.subtitle__label,
.link__label,
.image__label,
.winner__label {
  display: block;
  width: 10rem;
}
