.main-layout {
  margin-top: 5rem;
  width: 100%;
}

.main-container {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 10rem;
}

@media (max-width: 640px) {
  .main-container {
    max-width: 100%;
  }
}
